<div class="flex flex-col items-center justify-center h-screen bg-amber-300">
  <th class="w-[960px]">
    <div class="relative flex items-center w-full h-12 overflow-hidden bg-white border focus-within:shadow-md ">
      <div class="grid w-12 h-full text-gray-300 place-items-center">
        <span class="material-symbols-rounded">
          search
          </span>
      </div>
      <input class="w-full h-full pr-2 text-sm text-gray-700 outline-none peer" type="text" id="search" placeholder="Search name/ company/ position." [(ngModel)]="searchKey"/>
  </div>
  </th>

  <section class="flex items-center justify-center ">

    <!-- Name table -->
    <table class="flex flex-col bg-white border w-80 h-[600px]">
      <th class="flex items-center justify-between p-4 cursor-pointer" [appSort]="data" data-order="desc" data-name="name" >Name
        <span class="material-symbols-rounded">
          swap_vert
          </span>
      </th>
      <!-- <div class="relative flex items-center w-full h-12 overflow-hidden bg-white border focus-within:shadow-md ">
        <div class="grid w-12 h-full text-gray-300 place-items-center">
          <span class="material-symbols-rounded">
            search
            </span>
        </div>
        <input class="w-full h-full pr-2 text-sm text-gray-700 outline-none peer" type="text" id="search" placeholder="Search something.." [(ngModel)]="nameKey"/>
    </div> -->
      <tbody class="flex flex-col ">
        <tr class="p-3 border" *ngFor="let item of data| searchPipe:searchKey">
          <p>{{item.name}}</p>
        </tr>
      </tbody>
    </table>

    <!-- Company table -->
    <table class="flex flex-col bg-white w-80 h-[600px]">
      <th class="flex items-center justify-between p-4 border cursor-pointer" [appSort]="data" data-order="desc" data-name="company" >Company
        <span class="material-symbols-rounded">
          swap_vert
          </span>
      </th>
      <!-- <div class="relative flex items-center w-full h-12 overflow-hidden bg-white border focus-within:shadow-md ">
        <div class="grid w-12 h-full text-gray-300 place-items-center">
          <span class="material-symbols-rounded">
            search
            </span>
        </div>
        <input class="w-full h-full pr-2 text-sm text-gray-700 outline-none peer" type="text" id="search" placeholder="Search something.." [(ngModel)]="nameKey"/>
    </div> -->
      <tbody class="flex flex-col ">
        <tr class="p-3 border" *ngFor="let item of data| searchPipe:searchKey">
          <p>{{item.company }}</p>
        </tr>
      </tbody>
    </table>

    <!-- Position table -->
    <table class="flex flex-col bg-white w-80 h-[600px]">
      <th class="flex items-center justify-between p-4 border cursor-pointer" [appSort]="data" data-order="desc" data-name="position"  >Position
        <span class="material-symbols-rounded">
          swap_vert
          </span>
      </th>
      <!-- <div class="relative flex items-center w-full h-12 overflow-hidden bg-white border focus-within:shadow-md ">
        <div class="grid w-12 h-full text-gray-300 place-items-center">
          <span class="material-symbols-rounded">
            search
            </span>
        </div>
        <input class="w-full h-full pr-2 text-sm text-gray-700 outline-none peer" type="text" id="search" placeholder="Search something.." />
    </div> -->
      <tbody class="flex flex-col ">
        <tr class="p-3 border" *ngFor="let item of data| searchPipe:searchKey">
          <p>{{item.position}}</p>
        </tr>
      </tbody>
    </table>

  </section>

</div>
